@import url("./themes.css");
@import url("./font.css");
@import url("./tabs.css");
@import url("./graph_elements.css");

body {
  display: flex;
  margin: 0px;
  background-color: var(--background);
  font-family: "suse";
  color: var(--text_color);
}

canvas {
  display: flex;
}

#textInput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

#language {
  margin-top: 3px;
  margin-bottom: 3px;
}

#inputContainer {
  display: flex;
  flex: 1;
  margin: 0px;
  padding: 10px;
  flex-direction: column;
  background-color: var(--background);
  border-left: 2px solid var(--accent);
}
#GenerateButton{
  margin-top: 3px;
  margin-bottom: 3px;  
}

.InputRow {
  display: flex;
  align-items: flex-start;
}
.InputRow label {
  font-size: 14pt;
  margin-right: 5px;
  text-align: center;
}
.InputRow,
select {
  flex: 1;
}

select,
input,
textarea,
button {
  font-family: "suse";
  color: var(--text_color);
  background-color: var(--background);
  border-radius: 5px;
  font-size: 14pt;
  border: 1px solid var(--accent);
  font-weight: 400;
  background-color: var(--secondary);
}
